@{
    ViewData["Title"] = "Servicios de Tienda auxiliar 1";
}
<h1>@ViewData["Title"]</h1>

<p>Bienvenido</p>
<ul>
    <li><a href="https://localhost:7110/home/Productos">Ver Productos</a></li>
    <li><a href="https://localhost:7110/home/BuscarCodigo">Buscar Por codigo</a></li>
</ul>
