<h1>Agregar un producto</h1>
<br /> <br />
<form action="AgregarProducto" method="post">
    <label>Id:<input type="text" name="id" value=""></label><br />
    <label>Nombre:<input type="text" name="nombre" value=""></label><br />
    <label>Precio:<input type="text" name="precio" value=""></label><br />
    <label>Cantidad: <input type=" text" name="cantidad" value=""></label><br />
    <label>Presentacion:<input type=" text" name="presentacion" value=""></label><br />
    <label>Contraindicaciones:<input type=" text" name="contra" value=""></label><br />
    <input type="submit" name="enviar" value="Enviar" />
</form>