@{
    ViewData["Title"] = "Servicios de Tienda Cruz verde";
}
<h1>@ViewData["Title"]</h1>

<p>Bienvenido</p>
<ul>
    <li><a href="https://localhost:7430/home/Productos">Ver Productos</a></li>
    <li><a href="https://localhost:7430/home/BuscarCodigo">Buscar Por codigo</a></li>
    <li><a href="https://localhost:7430/home/AgregarProducto">Agregar Producto</a></li>
</ul>
